<div class="row">
  <div class="large-9 push-3 columns">
    <%= content_tag :h1, @title %>

    <nav class="breadcrumbs">
      <%= link_to "Categories", categories_path %>
      <%= link_to params[:category], category_path(params[:category]), class: "current" %>
    </nav>

    <div class="content">
      <% @cars.uniq(&:name).sort{|cara, carb| cara.name <=> carb.name}.each do |car| %>
        <div class="car">
          <%= link_to car.name, category_model_path(params[:category], car.name) %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="large-3 pull-9 columns">
    <%= content_tag(:span, "", :class => "car_icon", :id => "#{params[:category].parameterize('_')}") %>
  </div>
</div>