<div class="row">
  <div class="large-9 push-3 columns">
    <%= content_tag :h1, @title %>

    <nav class="breadcrumbs">
      <%= link_to "Categories", categories_path %>
      <%= link_to params[:category], category_path(params[:category]) %>
      <%= link_to params[:model], category_model_path(params[:category], params[:model]) %>
      <%= link_to params[:year], category_year_path(params[:category], params[:model], params[:year]), class: "current" %>
    </nav>
    
    <div class="content">
      <p>
        Available trims and images coming soon
      </p>
    </div>
  </div>
  
  <div class="large-3 pull-9 columns">
    <%= content_tag(:span, "", :class => "car_icon", :id => "#{params[:category].parameterize('_')}") %>
    <%= render 'car/safety_rating' %>
  </div>
</div>