
<div class="row">
  <div class="large-9 push-3 columns">
    <%= content_tag :h1, @title %>

    <nav class="breadcrumbs">
      <%= link_to "Manufacturers", manufacturers_path %>
      <%= link_to params[:manufacturer], manufacturer_path(params[:manufacturer]) %>
      <%= link_to params[:model], model_path(params[:manufacturer], params[:model]) %>
      <%= link_to params[:year], car_path(params[:manufacturer], params[:model], params[:year]), class: "current" %>
    </nav>

    <% @trims.each do |trim| %>
      <div>
        <%= trim["id"] %>:<br />
        <%= trim["name"] %>
      </div>
    <% end %>
  </div>
  <div class="large-3 pull-9 columns">
    <%= render 'summary' %>
  </div>
</div>
