<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%#= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <%= favicon_link_tag "favicons.ico/apple-icon-57x57.png", :rel => "apple-touch-icon", :type "image/png", :sizes => "57x57" %>
  <%= favicon_link_tag "favicons.ico/apple-icon-60x60.png", :rel => "apple-touch-icon", :type "image/png", :sizes => "60x60" %>
  <%= favicon_link_tag "favicons.ico/apple-icon-72x72.png", :rel => "apple-touch-icon", :type "image/png", :sizes => "72x72" %>
  <%= favicon_link_tag "favicons.ico/apple-icon-76x76.png", :rel => "apple-touch-icon", :type "image/png", :sizes => "76x76" %>
  <%= favicon_link_tag "favicons.ico/apple-icon-114x114.png", :rel => "apple-touch-icon", :type "image/png", :sizes => "114x114" %>
  <%= favicon_link_tag "favicons.ico/apple-icon-120x120.png", :rel => "apple-touch-icon", :type "image/png", :sizes => "120x120" %>
  <%= favicon_link_tag "favicons.ico/apple-icon-144x144.png", :rel => "apple-touch-icon", :type "image/png", :sizes => "144x144" %>
  <%= favicon_link_tag "favicons.ico/apple-icon-152x152.png", :rel => "apple-touch-icon", :type "image/png", :sizes => "152x152" %>
  <%= favicon_link_tag "favicons.ico/apple-icon-180x180.png", :rel => "apple-touch-icon", :type "image/png", :sizes => "180x180" %>
  <%= favicon_link_tag "favicons.ico/android-icon-192x192.png", :rel => "icon", :type "image/png", :sizes => "192x192" %>
  <%= favicon_link_tag "favicons.ico/favicon-32x32.png", :rel => "icon", :type "image/png", :sizes => "32x32" %>
  <%= favicon_link_tag "favicons.ico/favicon-96x96.png", :rel => "icon", :type "image/png", :sizes => "96x96" %>
  <%= favicon_link_tag "favicons.ico/favicon-16x16.png", :rel => "icon", :type "image/png", :sizes => "16x16" %>
  
  <%= favicon_link_tag "favicon.ico" %>

  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= image-url("favicons.ico/ms-icon-144x144.png") %>">
  <meta name="theme-color" content="#ffffff">
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
